{% extends "base.html" %}

{% block main %}
<article class="main-block post-detail-banned" id="post-block-{{ item_id }}">
    <h2>#{{ item_id }} (пост заблокирован)</h2>

    {% match ban_reason %}
    {% when Some with (ban_reason_real) %}<p class="post-ban-reason"><b>причина</b>: {{ ban_reason_real.id.clone() }}</p>
    {% when None %}
    {% endmatch %}

    {% match ban_reason_text %}
    {% when Some with (ban_reason_text_real) %}<p class="post-ban-reason-text"><b>пояснение</b>: {{ ban_reason_text_real.clone() }}</p>
    {% when None %}
    {% endmatch %}
</article>
{% endblock %}