{% extends "base.html" %}

{% block content %}
<div class="table-wrapper">
    <table class="table-list">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">описание</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.description|unwrap_or_string("") }} (<a href="{{ item.edit_url() }}">редактировать</a>)</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}