<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% include "utils/title.html" %}</title>
    <link rel="stylesheet" href="{{ asset_context|load_asset("style_css") }}" />
    {% block head_misc %}{% endblock %}
</head>

<body>
    <div class="layout">
        <header>
            {% block page_header %}<h1 aria-label="breadrumb">{% include "utils/breadcrumbs.html" %}</h1>{% endblock %}

            <nav class="nav-horizontal">
                <ul>
                    {% match user %}
                    {% when Authentication::Authenticated with (user_real) %}
                    <li><span>ты <a href="{{ user_real.detail_url() }}">{{ user_real.username }}</a>{% if user_real.is_admin
                        %} (администратор){% else if user_real.is_uploader %} (загружающий){% endif %}</span></li>
                    <li><a href="{{ uri!(crate::app::views::change_password_get) }}">сменить пароль</a></li>
                    <li><a href="{{ uri!(crate::app::views::logout_get) }}">выйти</a></li>
                    {% when Authentication::Banned with (user_real) %}
                    <li><span>ты <a href="{{ user_real.detail_url() }}">{{ user_real.username }}</a> (забанен)</span></li>
                    <li><a href="{{ uri!(crate::app::views::change_password_get) }}">сменить пароль</a></li>
                    <li><a href="{{ uri!(crate::app::views::logout_get) }}">выйти</a></li>
                    {% when Authentication::Anonymous %}
                    <li><a href="{{ uri!(crate::app::views::login_get) }}">войти</a></li>
                    <li><a href="{{ uri!(crate::app::views::registration_get) }}">зарегистрироваться</a></li>
                    {% endmatch %}
                </ul>
                {% if user.is_admin() %}
                <ul>
                    <li>инвайты:</li>
                    <li><a href="{{ uri!(crate::app::views::invite_add_get) }}">добавить</a></li>
                    <li><a href="{{ uri!(crate::app::views::invite_remove_get) }}">удалить</a></li>
                </ul>
                <ul>
                    <li>причины бана:</li>
                    <li><a href="{{ uri!(crate::app::views::ban_reasons_list_get) }}">список</a></li>
                    <li><a href="{{ uri!(crate::app::views::ban_reason_add_get) }}">добавить</a></li>
                </ul>
                {% endif %}
                <ul>
                    <li>посты:</li>
                    <li><a href="{{ uri!(crate::app::views::posts_list_get(None as Option<u64>, None as Option<u64>)) }}">список</a></li>
                    {% if user.is_uploader() %}<li><a href="{{ uri!(crate::app::views::post_add_get) }}">добавить</a></li>{% endif %}
                </ul>
                <ul>
                    <li>
                        <form method="GET" action="{{ uri!(crate::app::views::posts_search_get(None as Option<String>, None as Option<u64>, None as Option<u64>)) }}">
                            <input type="text" name="query" />
                            <button>искать</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>

        {% block before_main %}{% endblock %}

        {% block main %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% endblock %}

        {% block after_main %}{% endblock %}
    </div>

    <footer>
        {% block footer %}
        <p>
            это тестовая версия сайта аниме-архива archivanima.
        </p>
        <p>
            почта для связи с разрабом: <a href="mailto:artushak@artushak.ru">artushak@artushak.ru</a>
        </p>
        {% endblock %}
    </footer>

    {% block misc %}
    {% endblock %}
</body>

</html>