{% extends "base.html" %}

{% block main %}
<article class="main-block" id="user-{{ item.username }}">
    <div class="table-wrapper">
        <table class="table-detail">
            <tbody>
                <tr>
                    <th scope="row">имя пользователя</th>
                    <td>{{ item.username }}</td>
                </tr>
                <tr>
                    <th scope="row">статус</th>
                    <td>{% if item.is_active %}активен{% else %}забанен{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">права</th>
                    <td>{% if item.is_admin %}администратор{% else if item.is_uploader %}загружающий{% else %}пользователь{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">дата рождения</th>
                    <td>{% match item.birth_date %}{% when Some with (birth_date) %}{{ birth_date.date() }}{% when None %}{% endmatch %}</td>
                </tr>
                {% if user.is_admin() %}
                <tr>
                    <th scope="row"></th>
                    <td><a href="{{ item.edit_url() }}">управлять</a></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</article>
{% endblock %}